.env
.git
.gitignore
README.md
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env.local
.DS_Store
.dockerignore
Dockerfile
docker-compose.yml
# Исключаем только содержимое этих папок, но не сами папки
database/*.db
trash/*